name: ci
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  test-sol:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16, 18 ]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: install dep
        run: npm i

      - name: run test
        run: npm run test
  coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16, 18 ]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - uses: actions/setup-node@v3
      - run: npm run coverage
        env:
          NODE_OPTIONS: --max_old_space_size=4096
      - uses: codecov/codecov-action@v3
